.header{
  display: flex;
  height: fit-content;
  justify-content: space-between;
  padding: 0px 10px;
  border: 2px solid black;
}

.logo img{
  height: 80px;
}

.components ul{
  list-style: none;
  display: flex;
}

.components li{
  padding: 10px 10px;
}

.res-card img{
  height: 160px;
  width: 198px;
  margin: 1px;
}

.res-card{
  margin: 14px;
  width:200px;
  padding: 5px 5px;
  background-color: rgb(227, 222, 222);
  cursor: pointer;
}

.res-card:hover{
  border: 2px solid black;
}

.search-bar{
  padding: 0px 0px 10px 0px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}